<div class="well-large">
    <!-- Default panel contents -->
    <div class="panel-body">
        <p>Mathematic version 0.1 - {{controller.title}}</p>
    </div>
</div>
<div class="row">
    <div class="col-sm-2 col-sm-offset-2 highlight text-center">{{controller.task.numbers[0]}}</div>
    <div class="col-sm-1 highlight text-center">{{controller.task.operandSymbol[controller.task.operand]}}</div>
    <div class="col-sm-2 highlight text-center">{{controller.task.numbers[1]}}</div>
    <div class="col-sm-1 highlight text-center">=</div>
    <div class="col-sm-2 text-center">
        <form class="form-group has-feedback" ng-class="{ 'has-error': controller.task.inputResultType===3}" name="resultForm" ng-submit="controller.next()">
            <input type="number" pattern="[0-9]*" class="highlight" required keep-focused autofocus id="inputTyped" ng-model="controller.task.inputTyped" />
            <!--inputResultType===1 => Success-->
            <span ng-show="controller.task.inputResultType===1" class="glyphicon glyphicon-remove form-control-feedback"></span>
            <!--inputResultType===3 => Failure-->
            <span ng-show="controller.task.inputResultType===3" class="glyphicon glyphicon-remove form-control-feedback"></span>
        </form>
    </div>

</div>
<div class="row">
    <div class="col-sm6 col-sm-offset-6">
        <button ng-show="controller.IsCompleted" ng-click="controller.generateTasks()">Refresh</button>
        <button ng-disabled="controller.IsCompleted" ng-click="controller.clear()">Clear</button>
        <button ng-disabled="controller.IsCompleted" ng-click="controller.check()">Ok?</button>
        <button ng-disabled="controller.IsCompleted" ng-click="controller.next()">Next</button>
        <input type="text" value="" />
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        {{controller.task.inputFeedback}}
        <br />
        {{controller.task.inputResultType}}
        <br />
        {{controller.task.inputResultType===3}}
    </div>
</div>

<div class="row">
    <span col-md-6 col-md-offset-3 ng-repeat="task in controller.tasks" ng-switch on="task.inputResultType">
        <span ng-switch-when="0"><i class="fa fa-3x fa-genderless "></i></span>
        <span ng-switch-when="1"><i class="fa fa-3x fa-smile-o text-success"></i></span>
        <span ng-switch-when="2"><i class="fa fa-3x fa-meh-o text-warning"></i></span>
        <span ng-switch-when="3"><i class="fa fa-3x fa-frown-o text-danger"></i></span>
    </span>
</div>

<div class="row">
    <div>
        <label>IsCompleted:{{controller.IsCompleted}}</label>
    </div>
</div>
<div class="container">
    <h2>Horizontal form: control states</h2>
    <form class="form-horizontal" role="form">
        <div class="form-group">
            <label class="col-sm-2 control-label">Focused</label>
            <div class="col-sm-10">
                <input class="form-control" id="focusedInput" type="text" value="Click to focus...">
            </div>
        </div>
        <div class="form-group">
            <label for="inputPassword" class="col-sm-2 control-label">Disabled</label>
            <div class="col-sm-10">
                <input class="form-control" id="disabledInput" type="text" placeholder="Disabled input here..." disabled>
            </div>
        </div>
        <fieldset disabled>
            <div class="form-group">
                <label for="disabledTextInput" class="col-sm-2 control-label">Disabled input and select list (Fieldset disabled)</label>
                <div class="col-sm-10">
                    <input type="text" id="disabledTextInput" class="form-control" placeholder="Disabled input">
                </div>
            </div>
            <div class="form-group">
                <label for="disabledSelect" class="col-sm-2 control-label"></label>
                <div class="col-sm-10">
                    <select id="disabledSelect" class="form-control">
                        <option>Disabled select</option>
                    </select>
                </div>
            </div>
        </fieldset>
        <div class="form-group has-success  has-feedback">
            <label class="col-sm-2 control-label" for="inputSuccess">Input with success and glyphicon</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="inputSuccess">
                <span class="glyphicon glyphicon-ok form-control-feedback"></span>
            </div>
        </div>
        <div class="form-group has-warning has-feedback">
            <label class="col-sm-2 control-label" for="inputWarning">Input with warning and glyphicon</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="inputWarning">
                <span class="glyphicon glyphicon-warning-sign form-control-feedback"></span>
            </div>
        </div>
        <div class="form-group has-error has-feedback">
            <label class="col-sm-2 control-label" for="inputError">Input with error and glyphicon</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="inputError">
                <span class="glyphicon glyphicon-remove form-control-feedback"></span>
            </div>
        </div>
    </form>
</div>
