<div class="well-large">
    <!-- Default panel contents -->
    <div class="panel-body">
        <p>Mathematic version 0.1 - {{controller.Title}}</p>
    </div>
</div>
<div class="row">
    <div class="col-sm-2 col-sm-offset-2 highlight text-center">{{controller.Task.numbers[0]}}</div>
    <div class="col-sm-1 highlight text-center">{{controller.Task.operandSymbol[controller.Task.operand]}}</div>
    <div class="col-sm-2 highlight text-center">{{controller.Task.numbers[1]}}</div>
    <div class="col-sm-1 highlight text-center">=</div>
    <div class="col-sm-2 text-center">
        <form class="form-group has-feedback" ng-class="{ 'has-success': controller.Task.inputResultType===1, 'has-error': controller.Task.inputResultType===3}" name="resultForm" ng-submit="controller.next(controller.Task)">
            <input type="number" pattern="[0-9]*" class="highlight" required keep-focused autofocus id="inputTyped" ng-model="controller.Task.inputTyped"/>
            <!--ng-disabled="controller.Task.inputResolved"--> 
            <!--inputResultType===1 => Success-->
            <span ng-show="controller.Task.inputResultType===1" class="glyphicon glyphicon-ok form-control-feedback"></span>
            <!--inputResultType===3 => Failure-->
            <span ng-show="controller.Task.inputResultType===3" class="glyphicon glyphicon-remove form-control-feedback"></span>
        </form>
    </div>

</div>
<div class="row">
    <div class="col-sm6 col-sm-offset-6">
        <button ng-show="controller.Excercise.IsCompleted" ng-click="controller.Excercise.generateTasks()">Refresh</button>
        <button ng-hide="controller.Excercise.IsCompleted" ng-click="controller.clear()">Clear</button>
        <button ng-hide="controller.Task.inputResolved" ng-click="controller.Excercise.check(controller.Task)">Ok?</button>
        <button ng-hide="controller.Excercise.IsCompleted" ng-click="controller.Excercise.next()">Next</button>
        <input type="text" value="" />
    </div>
</div>
<div class="row">
    <span col-md-6 col-md-offset-3 ng-repeat="task in controller.Excercise.tasks" ng-switch on="task.inputResultType">
        <span ng-switch-when="0"><i class="fa fa-3x fa-genderless "></i></span>
        <span ng-switch-when="1"><i class="fa fa-3x fa-smile-o text-success"></i></span>
        <span ng-switch-when="2"><i class="fa fa-3x fa-meh-o text-warning"></i></span>
        <span ng-switch-when="3"><i class="fa fa-3x fa-frown-o text-danger"></i></span>
    </span>
</div>

<div class="table" ng-repeat="task in controller.Excercise.tasks">
    <div class="row" ng-show="task.inputResolved">
        <div class="col-sm-2 text-center">{{task.numbers[0]}}</div>
        <div class="col-sm-1 text-center">{{task.operandSymbol[controller.Task.operand]}}</div>
        <div class="col-sm-2 text-center">{{task.numbers[1]}}</div>
        <div class="col-sm-1 text-center">=</div>
        <div class="col-sm-2 text-center">{{task.inputTyped}}</div>
        <div class="col-sm-1 text-center">{{task.duration}} </div>
        <div class="col-sm-3 text-center">{{task.inputResolved}}</div>
    </div>

</div>